html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.btn {
  background-color: #FFC400;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  cursor: pointer;
  background-size: 36px; }
  .btn:hover {
    background-color: #ffc914; }
  .btn:active {
    background-color: #f0b800; }
  .btn.btn-left {
    background-image: url("../img/assets/ico_btn_Arr_Left.svg"); }
  .btn.btn-right {
    background-image: url("../img/assets/ico_btn_Arr_Right.svg"); }
  .btn.btn-up {
    background-image: url("../img/assets/ico_btn_Arr_up.svg"); }
  .btn.btn-down {
    background-image: url("../img/assets/ico_btn_Arr_Down.svg"); }
  .btn.btn-restart {
    background-image: url("../img/assets/ico_btn_RestartGame.svg"); }
  .btn.btn-new-game {
    background-image: url("../img/assets/ico_btn_NewGame.svg"); }
  .btn.btn-info {
    background-image: url("../img/assets/ico_btn_info.svg"); }
  .btn.btn-speak {
    background-image: url("../img/assets/ico_btn_Mic.svg"); }
  .btn.icon-small-maze {
    background-image: url("../img/assets/ico_btn_Def_Easy.svg"); }
  .btn.icon-medium-maze {
    background-image: url("../img/assets/ico_btn_Def_Midium.svg"); }
  .btn.icon-large-maze {
    background-image: url("../img/assets/ico_btn_Def_Hard.svg"); }
  .btn.btn-small {
    width: 48px;
    height: 48px;
    margin: 5px; }
  .btn.btn-large {
    width: 64px;
    height: 64px;
    margin: 10px; }
  .btn.btn-maze-size {
    text-indent: 55px;
    font-size: 1em;
    font-weight: 600; }

.speech-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 40px;
  left: 40px; }

.mic {
  background-size: 29px;
  background-color: #aaaaaa; }
  .mic:hover {
    background-color: #38a838; }
  .mic.listening {
    background-color: #339933; }

.command {
  font-weight: bold; }
  .command.done {
    color: #339933; }
  .command.fail {
    color: #FF1D25; }

#maze {
  border-style: solid;
  margin: 0 auto;
  display: inline-block;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px; }

/* 5x5 */
.small-maze .block {
  width: 20%; }

/* 8x8 */
.medium-maze .block {
  width: 11.1111%; }

/* 10x10 */
.large-maze .block {
  width: 9.0909%; }

.wall {
  background-color: #000; }

.me {
  position: relative; }

.me:after {
  background-color: #FF1D25;
  border-radius: 100%;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%; }

.finish {
  background-color: #FFC400; }

.sweet-alert {
  font-family: 'Noto Sans', sans-serif !important; }
  .sweet-alert .confirm,
  .sweet-alert .cancel {
    background-color: #FFC400 !important;
    border: 2px solid #000;
    border-radius: 5px;
    color: #000 !important; }

html {
  height: 100%; }

body {
  height: inherit;
  background-color: #F6F6F6;
  font-family: 'Noto Sans', sans-serif; }

.header {
  background-color: #FFC400;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 40px;
  z-index: 10;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  display: flex;
  justify-content: space-between; }
  .header .logo {
    height: 100%;
    width: 90px;
    background-image: url("../img/assets/Logo_VoiceMaze.svg");
    background-repeat: no-repeat; }
  .header h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.7em;
    line-height: 1.7em; }
  .header .btn-info {
    margin: 0; }

.game-section {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px 40px; }

.hints span {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7); }

/*.commands-list {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  overflow: scroll;
  display: inline-block;
}*/
.maze-wrapper {
  display: flex; }

.arrow-buttons-wrapper {
  position: absolute;
  bottom: 40px;
  right: 40px; }
  .arrow-buttons-wrapper .btn-row {
    display: flex;
    justify-content: center; }

.maze-size-select-wrapper {
  position: absolute;
  top: 25px;
  left: 40px;
  display: flex;
  flex-direction: column; }
  .maze-size-select-wrapper .maze-size-buttons {
    display: none; }
    .maze-size-select-wrapper .maze-size-buttons.show {
      display: flex;
      flex-direction: column; }

.btn-restart {
  position: absolute;
  top: 25px;
  right: 40px; }
