@import 'reset';
@import 'colors';
@import 'header';
@import 'buttons';
@import 'speech';
@import 'maze';
@import 'sweetalert-overides';
html {
    height: 100%;
}

body {
    height: inherit;
    // overflow: hidden;
    background-color: $grey;
    font-family: 'Noto Sans', sans-serif;
}

.header {
    background-color: $yellow;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 40px;
    z-index: 10;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    display: flex;
    justify-content: space-between;
    .logo {
        height: 100%;
        width: 90px;
        background-image: url('../img/assets/Logo_VoiceMaze.svg');
        background-repeat: no-repeat;
    }
    h1 {
        margin: 0;
        font-weight: 600;
        font-size: 1.7em;
        line-height: 1.7em;
    }
    .btn-info {
        margin: 0;
    }
}

.game-section {
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 40px;
}

.hints span {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}


/*.commands-list {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  overflow: scroll;
  display: inline-block;
}*/

.maze-wrapper {
    display: flex;
}

.arrow-buttons-wrapper {
    position: absolute;
    bottom: 40px;
    right: 40px;
    .btn-row {
        display: flex;
        justify-content: center;
    }
}

.maze-size-select-wrapper {
    position: absolute;
    top: 25px;
    left: 40px;
    display: flex;
    flex-direction: column;

    .maze-size-buttons {
        display: none;
        
        &.show {
            display: flex;
            flex-direction: column;
        }
    }
}

.btn-restart {
    position: absolute;
    top:25px;
    right: 40px;
}