.speech-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include for-phone-only {
        flex-direction: column-reverse;
        position: static;
    }
}

.mic {
    background-size: 29px;
    background-color: darken($grey, 30%);
    &:hover {
        background-color: lighten($green, 4%);
    }
    &.listening {
        background-color: $green;
    }
}

.command {
    font-weight: bold;
    &.done {
        color: $green;
    }
    &.fail {
        color: $red;
    }
}